@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{

    <script src="~/Template/js/controller/userController.js"></script>
}

<div class="xs">
    <h3>Thông tin người dùng</h3>
    @using (Html.BeginForm("Index", "User", FormMethod.Get))
    {
        <div class="input-group">
            <div class="col-md-4">
                <input type="text" value="@ViewBag.SearchString" class="form-control1" name="searchString" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                <a class="btn btn-primary" href="/Admin/User/Create">Thêm mới</a>
            </div>
        </div>
    }
    <div class="bs-example4" data-example-id="contextual-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Tên người dùng</th>
                    <th>Email</th>
                    <th>Trạng thái</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success" id="row_@item.ID">
                        <td>@item.UserName</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khoá")</a></td>
                        <th scope="row">
                            <a href="/Admin/User/Edit/@item.ID">Sửa</a>
                            |
                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn có thực sự muốn xoá?",
                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
    </div>
</div>